.productReadMore {
  display: inherits;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.productReadMore > div:nth-child(even) {
  text-align: right;
}

.productReadMore > p {
  grid-column: 1 / 3;
}
