.content {
  display: grid;
  column-gap: 10px;
  row-gap: 10px;
  max-width: 1024px;
  margin: 0 auto;
}

.navbar {
  display: inherit;
}

.main {
  padding: 0.5rem 0;
  background-color: #eee;
}

.footer {
  display: inherit;
}
